html {
    scroll-behavior: smooth;
}

.app-main {
    background-color: #F5F7FB;
    min-height: 100vh;
}

.la-sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.la-nav-bar {
    z-index: 1;
}