.la {

    &-choice-actions {
        display: flex !important;
        justify-content: space-between;

        &__btn {
            opacity: .5;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

        &-icons__right {
            margin-left: .75em !important;
        }
    }

    &-post-detail {
        height: 100%;

        &-question {
            margin-bottom: 20px;
        }

        &-tags {
            &__tag {
                cursor: pointer;
            }
        }

        &-answer-form {
            padding-bottom: 40px;

            &__login-button {
                margin-bottom: 4.375rem !important;
            }
        }
    }




}

.la-left--space {
    padding-left: 20px;
}

.preserve--space {
    white-space: pre-wrap;
}