.la-post-form {
    display: flex;
    flex-direction: column;

    &__input {
        width: 100%;
        margin-bottom: 20px;
    }

    &__button {
        width: fit-content;
        margin-bottom: 20px !important;
    }

    &-editor {
        margin-bottom: 20px;
    }
}
