.la-post-form {
    &-top {
        display: flex;
        flex-direction: column;
    }

    &-tags {
        margin-bottom: 10px;
    }

    &__input {
        margin-bottom: 20px !important;
    }
}

.label--bold {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}
